body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: #3b3b3a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 500px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fcf7f7;
}

.input-container input{
  border-color: #2c09f1;
  padding: 10px;
  width: 90%;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-container button {
  padding: 10px;
  background-color: #060314;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.input-container button:hover {
  background-color: #1e07c6;
  /* color:black; */
  font-weight: bold;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 400;
  font-size: 12px;
}

button:hover {
  background-color: #050101;
  transform: translateY(-2px);
}

button:focus{
  outline: none;
  box-shadow: 0 0 5px 2px rgba(44, 9, 241, 0.6);
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.pending {
  color: #333;
}

.toggleBtn {
  background-color: #2196F3;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.toggleBtn:hover {
  background-color: #1976D2;
}

.deleteBtn {
  background-color: #5936f4;
  color: rgb(14, 4, 4);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.deleteBtn:hover {
  background-color: #4528b9;
  color: white;
}

.clear-btn {
  background-color: #060314;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-weight: 400;
  font-size: 12px;
}

.clear-btn:hover {
  background-color: #1e07c6;
  font-weight: bold;
}


@media (max-width: 600px) {
  .app-container {
    width: 90%;
  }
}