body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app-container {
  background-color: #3b3b3a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #fcf7f7;
}

.input-container input {
  padding: 10px;
  width: 70%;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.input-container button {
  padding: 10px;
  background-color: #2c09f1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5px;
}

.input-container button:hover {
  background-color: #f1f1f3;
  color:black;
  font-weight: bold;
}

button {
  padding: 8px 15px;
  margin-top: 10px;
  background-color: #f4f7f5;
  color: rgb(14, 13, 13);
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #050101;
}

ul {
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

li {
  background-color: #fafafa;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.completed {
  text-decoration: line-through;
  color: #888;
}

.pending {
  color: #333;
}

.toggleBtn {
  background-color: #2196F3;
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.toggleBtn:hover {
  background-color: #1976D2;
}

.deleteBtn {
  background-color: #5936f4;
  color: rgb(14, 4, 4);
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.deleteBtn:hover {
  background-color: #d3d0d0;
}

.clear-btn {
  background-color: #2c09f1;
  margin-top: 20px;
  padding: 10px;
  border: none;
  cursor: pointer;
  color: white;
  border-radius: 5px;
}

.clear-btn:hover {
  background-color: #fcfafa;
  color: #050101;
  font-weight: bold;
}